body {
    width: 800px;
    padding-left: 3em;
}

.testtrial {
    text-align: center;
    width: 750px;
    border: 1px solid black;
    margin: 2em;
}

#exposure div {
    margin-top: 1ex;
    margin-left: 1em;
}
