#exposure, .testtrial, #submit, #comment, #rsrb {display:none;}

body {
  margin-top: 3em;
  max-width: 900px;
}

#urlogo {
  position:relative;
  left: 75%;
}

#phase_label {
  font-weight: bold;
  color: #00467F;
}

.warn {
  color: black;
  background: #FFDD00;
}

.block {
  display: none;
}

.blockinstr {
  margin-bottom: 5em;
  color: white;
  background: #00467F;
  position: relative;
  left: 8%;
}

.block.AFC .testtrial {
  text-align: center;
}

.picture_container {
  height: 400px;
}

.stimsentence {
  font-size: x-large;
  font-style: italic;
  height: 4em;
  text-align: left;
}

.sentence_completion .stimsentence, .sentence_completion .stoprecord {
  display:none;
}

.fixcross {
  font-size: xx-large;
  font-weight: bold;
  height: 4em;
  text-align: left;
}

.yesno {
  font-size: larger;
  margin: 0 2em 0 2em;
}

.block {
  max-width: 800px;
  text-align: center;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  width: 33%;
  height: 20px;

  background-color: whiteSmoke;

  /* For IE10 */
  color: green;
}

progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

#progress_area {
  position: absolute;
  top: 0.5%;
  left: 10%;
  width: 100%;
  height: 40px;
}

#progress_area h3 {
  margin: 0;
}
