<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block extracss %}{% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}

        {% block form %}{% endblock %}

        {% block extrajs %}{% endblock %}
    </body>
</html>
