<div id="oldBrowserMessage">
    <p>Your browser does not appear to be compatible with the some HTML5 and JavaScript features used in this HIT.</p>
    <p>Please <strong>do not accept this HIT</strong>; your results will be automatically rejected.</p>
    <p>If you'd like to do this HIT, download an up-to-date version of one of these browsers and try again:</p>
    <div id="browserIcons">
        <a target="_blank" href="http://www.google.com/chrome"><img src="{{ url_for('static', filename='img/64-chrome.png') }}" alt="Google Chrome" width="71" height="66" /></a>
        <a target="_blank" href="http://www.mozilla.com/en-US/firefox/new/"><img src="{{ url_for('static', filename='img/64-firefox.png') }}" alt="Mozilla Firefox" width="71" height="66" /></a>
        <a target="_blank" href="http://www.opera.com/"><img src="{{ url_for('static', filename='img/64-opera.png') }}" alt="Opera" width="71" height="66" /></a>
        <a target="_blank" href="https://www.microsoft.com/en-us/windows/microsoft-edge"><img src="{{ url_for('static', filename='img/edge.png') }}" alt="Microsoft Edge" width="61" height="66"/></a>
    </div>
</div>
