<!DOCTYPE html>
<html>
    <head>
        <title>SocAlign1</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
        {% assets filters='cleancss', output='generated/socalign1.min.css',
            'css/socalign1.css',
            'css/oldbrowser.css',
            'css/statusarea.css',
            'css/instructions.css',
            'css/survey.css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <style type="text/css">
            #micwarning, #exposure, #testintr, #oldBrowserMessage, #reloadResume, .testtrial, #page1, #page2, #page3, #page4, #debriefing, #submit, #comment, #rsrb {display:none;}
            {% if not preview %}
            #instructions, #realinstructions {display:none;}
            {% endif %}
        </style>
        {#<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>#}
        <script type="text/javascript" src="{{ url_for('static', filename='lib/modernizr-custom.js') }}"></script>
    </head>

    <body>
      <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

{% include 'instructions.html' %}
{% include 'oldbrowser.html' %}
        {#
            Loading items is not necessary on preview.
        #}
        {% if not preview %}

        {% include 'status_area.html' %}

        <div id="reloadResume">
            <p>You have already started this experiment. Resuming where you left off.</p>
            <button type="button" id="resume">Resume</button>
            {% if debugmode == 1 -%}
            <button type="button" id="reset">Reset</button>
            {%- endif %}
        </div>

        {% include 'exposure.html' %}

        <div id="testing">
            <div id="testintr">
                <p>Phase 2: Picture description.</p>
                <button type="button" id="starttest">Start</button>
            </div>
            {% if formtype == 'sandbox' %}
            <form id="results" method="post" action="https://workersandbox.mturk.com/mturk/externalSubmit">
            {% elif formtype == 'live' %}
            <form id="results" method="post" action="https://www.mturk.com/mturk/externalSubmit">
            {% elif formtype == 'testing' %}
            <form id="results" method="post" action="{{ url_for('response_repeater') }}">
            {% else %}
            <form id="results" method="post" action="">
            {% endif %}
                {% for item in pictrials %}
                    <div id="{{item.StimulusID|replace('.','_')}}" class="testtrial">
                        <img src="{{ url_for('static', filename="stimuli/%s"|format(item.FileName)) }}" alt="" width="{{item.PictureWidth}}" height="{{item.PictureHeight}}"/><br/>
                        <a class="upload" href="{{ get_upload_link(amz.workerId, amz.assignmentId, item.StimulusID) }}"></a>
                        <button type="button" class="stoprecord">Next</button>
                    </div>
                {% endfor %}

{% include 'survey.html' %}
{% include "rsrb_survey.jinja2" %}

            <div id="hiddenfields">
                <!--<input type="hidden" id="starttime" name="starttime" value="NA"/>
                <input type="hidden" id="endaudio" name="endaudio" value="NA"/>-->
                <input type="hidden" id="experiment" name="experiment" value="SocAlign1"/>
                <input type="hidden" id="list" name="List" value="{{listid}}"/>
                <input type="hidden" id="exposurecondition" name="ExposureCondition" value="{{condition}}"/>
                <input type="hidden" id="assignmentId" name="assignmentId" value="{{amz.assignmentId}}"/>
                <input type="hidden" id="browserid" name="browserid" value="NA"/>
            </div>
                <div id="comment">
                    <p>Feedback on this HIT (optional):</p>
                    <p><textarea id="commentarea" name="comment" cols="80" rows="3"></textarea></p>
                </div>
                <button type="submit" name="submit" id="submit" disabled="disabled">Submit</button>
            </form>
        </div>
        {% endif %}

        <!--[if gte IE 9]><!-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.3.0/jquery-migrate.min.js"></script>
        <!--<![endif]-->
        {% if not preview %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/DateISOStringShim.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/volume-meter.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/recorder.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/recorderWorker.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/audio-helpers.js') }}"></script>
        {% assets filters='uglifyjs', output='generated/socalign1.min.js',
            'js/socalign1.js',
            'js/instructions.js',
            'js/survey_wrapup.js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <script type="text/javascript">
            var hitId = "{{amz.hitId}}";
            var workerId = "{{amz.workerId}}";
            var assignmentId = "{{amz.assignmentId}}";
            var debugmode = {{debugmode}};
            var recorder_url = "{{recorder_url}}";
            var itemno = {{startitem}};
            var experiment = "SocAlign.1";
        </script>
        {% else %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/socalign_record_preview.js') }}"></script>
        {% endif %}
    </body>

</html>
