{% extends "experiment_base.jinja2" %}

{% block exptcss %}
{% assets filters='cleancss', output='generated/socalign2pilot.min.css',
    'css/socalign2common.css',
    'css/oldbrowser.css',
    'css/statusarea.css',
    'css/instructions.css',
    'css/survey.css'%}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block headjs %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/modernizr-custom.js') }}"></script>
{% endblock %}

{% block content %}
{% include 'oldbrowser.html' %}
<div id="instructions" class="textdisplay">
  <img src="{{ url_for('static', filename='img/UR.v2.svg')}}" alt="University of Rochester" width="187" height="152"/ />
  <ul class="instructionlist">
    <li id="intro" class="instructionlistitem">
      <h3>Welcome!</h3>
      <div class="listcontent">
        <p>Thanks for your interest in our experiment. Please read through each
          of following items to inform you about the study and its requirements.
          Click each item to expand it or close it. In order to continue you must
          read the <span class="blockname">"Microphone testing and setup"</span>,
          <span class="blockname">"Experiment instructions"</span> and
          <span class="blockname">"Informed consent"</span> sections; be sure to
           check the boxes in each of those sections!
        </p>
        <button type="button" class="instructionbutton">Take me to the next section</button>
      </div>
    </li>
    <li id="audiosetup" class="instructionlistitem">
      <h3>Microphone testing and setup</h3>
      <div class="listcontent">
          <p style="font-weight:bold;">In this experiment you will listen to
          audio and answer questions about it. You need a working head set.
          This experiment requires JavaScript to be enabled.
          {% if not preview %}
          <p>Before we proceed, please adjust your volume settings so that you
          can easily understand the sound file below. Please use your system
          volume settings, not the volume control on the audio file below
          (and do not change them afterwards).</p>
          <audio id="voladjust" controls='controls'>
              <source src="{{ url_for('static', filename='stimuli/instructions_adjustVolume.ogg') }}" type="audio/ogg" />
              <source src="{{ url_for('static', filename='stimuli/instructions_adjustVolume.mp3') }}" type="audio/mpeg" />
              Your browser does not support the audio element.
          </audio>
          <button type="button" class="instructionbutton">Take me to the next section</button>
        </div>
    </li>
    {% endif %}
    <li id="exptphases" class="instructionlistitem">
      <h3>Experiment Instructions</h3>
      <div class="listcontent">
          <p>This experiment consists of three phases, followed by a short questionnaire.</p>
          <p>In <span style="font-weight:bold;">phase one</span>, you will listen to a short speech from an amateur debater.
          In this speech, the speaker will present his/her stance on a current political
          issue. Listen carefully to the speech, and form an impression of the speaker and
          their argument. You will be asked to describe them later.</p>
          <p><span style="font-weight:bold;">Phase two</span> is a memory task. You
            will see a series of written sentences presented one at a time. Your job
            is to indicate whether each sentence occurred in the speech that you heard
            in <span style="font-weight:bold;">phase one</span>.
          </p>
          <p><span style="font-weight:bold;">Phase three</span> is a brief survey. This survey consists of questions about the
          speech that you heard in <span style="font-weight:bold;">phase one</span> and questions about you as a participant.
          The data we collect with the survey will be non-identifying. It is
          very important to us that you try to answer the questions in the survey
          to the best of your abilities. Rushing through the survey will make
          your data completely useless for our research purpose.</p>
          <button type="button" class="instructionbutton">Take me to the next section</button>
      </div>
    </li>
    <li id="exptlength" class="instructionlistitem">
      <h3>Experiment Length</h3>
      <div class="listcontent">
        <p>All together the experiment will take about 15 minutes. Thank
        you for your participation </p>
        <p>Please do not take breaks in the middle of the experiment. It is
        important that you do the experiment in one go.</p>
        <button type="button" class="instructionbutton">Take me to the next section</button>
      </div>
    </li>
    <li id="consent" class="instructionlistitem">
      <h3>Informed Consent</h3>
      <div class="listcontent">
          <p>By accepting this HIT, you confirm that you have read and understood the
          <a target="_blank" href="https://www.hlp.rochester.edu/consent/RSRB_24018_Consent_Current.pdf">consent form</a>,
          that you are willing to participate in this experiment, and that you
          agree that the data you provide by participating can be used in
          scientific publications (no identifying information will be used).
          Sometimes it is necessary to share the data elicited from you
          &mdash; including sound files &mdash; with other researchers for scientific
          purposes (for replication purposes). That is the only reason for
          which we will share data and we will only share data with other
          researchers and only if it is for non-commercial use. Identifying
          information will <span style="font-weight:bold;">never</span> be shared (your MTurk ID will be replaced
          with an arbitrary alphanumeric code).</p>
          <button type="button" class="instructionbutton">Take me to the next section</button>
      </div>
    </li>
    <li id="startexperiment" class="instructionlistitem">
      <h3>Start Experiment</h3>
      <div class="listcontent">
        <p style="font-weight:bold;">Once you press Start, these instructions
        will disappear, so make sure you understand them fully before you start.
        A sound file will start playing automatically. Please make sure that
        your volume settings are adjusted (see above).</p>
        <button type="button" id="endinstr">I confirm that I have read and understood
          the instructions and the consent and want to start the experiment</button>
      </div>
    </li>
    <li id="optionalinfo" class="instructionlistitem">
      <h3>Further (optional) information</h3>
      <div class="listcontent">
        <p>Sometimes it can happen that technical difficulties cause experimental
        scripts to freeze so that you will not be able to submit a HIT. We are trying
        our best to avoid these problems. Should they nevertheless occur, we urge
        you to contact us.</p>
      </div>
    </li>
  </ul>
</div>

{% if not preview %}
{% include 'status_area.html' %}
<div id="progress_area">
  <progress id="experiment_progress" max="4" value="0"></progress>
  <p id="phase_label">Instructions</p>
</div>
{% include 'exposure.html' %}
{% endif %}
{% endblock %}

{% block exptformfields %}
{% if not preview %}

{% for trialblock in trials %}
<div class="block {{trialblock.type}}" id="{{trialblock.block}}">
  <p class="blockinstr">{{trialblock.instructions}}</p>
  <div class="newblock">
    <p>Read the instructions above before starting this block.</p>
    <button type="button" class="startblock">Start Block</button>
  </div>
{% for trial in trialblock.trials %}
  <div class="testtrial" id="{{'%s_%s_%s'|format(trial.StimulusType,trial.TakenFromPassage,trial.TrialOrder)|replace(' ','')|replace('.','_')}}">
    <p class="stimsentence">"{{trial.Stimulus}}"</p>
    <button type="button" class="yesno yes" value="Yes">Yes (f)</button>
    <button type="button" class="yesno no" value="No">(j) No</button>
  </div>
{% endfor%}
</div>
{% endfor %}

{% include 'survey.html' %}
{% include "rsrb_survey.jinja2" %}

<input type="hidden" name="trials" value="NA"/>

{% for trialblock in trials %}
  {% for trial in trialblock.trials %}
    {% set trialid = '%s_%s_%s'|format(trial.StimulusType,trial.TakenFromPassage,trial.TrialOrder)|replace(' ','')|replace('.','_') %}
    {% for key,value in trial.items() %}
    <input type="hidden" name="{{trialid}}.{{key|e}}" value="{{value|e}}"/>
    {% endfor %}
  {% endfor %}
{% endfor %}

{% endif %}
{% endblock %}

{% block exptjs %}
{% if not preview %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/keypress/2.1.3/keypress.min.js"></script>
{% assets filters='uglifyjs', output='generated/socalign2pilot.min.js',
    'js/socalign2pilot.js',
    'js/instructions.js',
    'js/survey_wrapup.js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% else %}
{% assets filters='uglifyjs', output='generated/preview.min.js',
    'js/instructions.js', 'js/socalign2pilot_preview.js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
