<div id="statusarea">
  <!-- Headphones by Edward Boatman from the Noun Project -->
  <img class="statusicon" id="headphones" src="{{ url_for('static', filename='img/headphones.svg')}}" width="80" height="125" alt="Listen"/>
  <!-- Cloud Upload by Marc Marius Mueller from the Noun Project -->
  <img class="statusicon" id="cloud" src="{{ url_for('static', filename='img/cloud_upload.svg')}}" width="100" height="125" alt="Uploading"/>
  <!-- Microphone by Alexandr Cherkinsky from the Noun Project -->
  <img class="statusicon" id="microphone" src="{{ url_for('static', filename='img/microphone.svg')}}" width="90" height="125" alt="Recording"/>
  <p class="progresstext">0%</p>
  <div class="progress"></div>
</div>
